/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import 'https://fonts.googleapis.com/css?family=Fjalla+One';
@import 'https://fonts.googleapis.com/css?family=Cantarell';



$white: #fff;
$orange: #FC6613;
$lightgrey: #e4e4e4;

/** UNIVERSAL **/

html, body {
	font-family: 'Cantarell', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Fjalla One', sans-serif;
}


.container-fluid {
	padding-left:0;
	padding-right: 0;
}

.row {
	width: 100%;
	margin: 0 !important;
}


/** HEADING **/

.header {
	text-align: center;
	background: #f84e30;
	background: rgba(255,175,75,1);
	background: -moz-linear-gradient(-45deg, rgba(255,175,75,1) 0%, rgba(255,146,10,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255,175,75,1)), color-stop(100%, rgba(255,146,10,1)));
	background: -webkit-linear-gradient(-45deg, rgba(255,175,75,1) 0%, rgba(255,146,10,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(255,175,75,1) 0%, rgba(255,146,10,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(255,175,75,1) 0%, rgba(255,146,10,1) 100%);
	background: linear-gradient(135deg, rgba(255,175,75,1) 0%, rgba(255,146,10,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaf4b', endColorstr='#ff920a', GradientType=1 );
	color: $white;
	h1 {
		margin: 0;
		padding: 50px;
	}
}

/** ADD FORM **/

.my-modal{
	background-color: rgba(0,0,0,0.6);
	z-index: 1;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: fixed;
	top: 0;
}

.popup {
	background-color: $white;
	z-index: 999;
	position: fixed;
	margin: 25px auto;
	width: 1000px;
	padding: 2em;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	border: 1px solid black;
	border-radius: 25px;
	-webkit-box-shadow: 0px 25px 21px 0px rgba(0,0,0,0.61);
	-moz-box-shadow: 0px 25px 21px 0px rgba(0,0,0,0.61);
	box-shadow: 0px 25px 21px 0px rgba(0,0,0,0.61);
	label, textarea {
		width: 100%;
	}
	input {
		width: 50%;
	}
	.add {
		display: block;
		margin: 10px auto;
		font-size: 18px;
	}
	p {
		font-size: 20px !important;
		padding: 5px;
	}
	label {
		font-size: 24px;
	}
	textarea, input {
		border: 1px solid $lightgrey;
	}
	.close-button {
		position: absolute;
		top: 25px;
		right: 25px;
	}
}

/** ADD BUTTON **/

.addButton {
	margin-top: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 24px;
	width: 100%;
}

/** DRINK **/

.drink {
	position: relative;
	padding: 25px 50px;
	-webkit-box-shadow: 9px 7px 20px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 9px 7px 20px 0px rgba(0,0,0,0.75);
	box-shadow: 9px 7px 20px 0px rgba(0,0,0,0.75);
	max-width: 800px;
	margin: 15px auto;
}

.info {
	text-align: center;
}

.quote {
	font-style: italic;
	font-size: 44px;
	text-align: center;
}

.fa-quote-left {
	margin-right: 15px;
	margin-bottom: 15px;
}

.type {
	display: inline;
}

.space {
	margin-right: 20px;
}

.line {
	margin-right: 80%;
	border: 3px solid $orange;
}

.warning {
	color: red;
	font-family: 'Cantarell', sans-serif;
	font-size: 16px;
	margin-left: 5px;
}

.fa-chevron-up:hover, .fa-chevron-down:hover {
		cursor: pointer;
		opacity: .5;
		transition: .3s;
		transform: scale(2,2);
}